<form class="form-group" [formGroup]="formGroup">
    <div class="form-icon"><img src="/assets/images/icon-hour.png">Horário</div>
    <h3>Qual período quer treinar?</h3>

    <div class="radio-wrapper">
        <input type="radio" name="hour" value="manha" formControlName="hour">
        <label class="ml" for="manha">Manhã</label>
        <span>06:00 ás 12h</span>
    </div>

    <div class="radio-wrapper">
        <input type="radio" name="hour" value="tarde" formControlName="hour">
        <label class="ml" for="tarde">Tarde</label>
        <span>12:01 ás 18h</span>
    </div>

    <div class="radio-wrapper">
        <input type="radio" name="hour" value="noite" formControlName="hour">
        <label class="ml" for="noite">Noite</label>
        <span>18:01 ás 23h</span>
    </div>

    <div class="checkbox-wrapper">
        <div class="checkbox">
            <input type="checkbox" name="showClosed" formControlName="showClosed">
            <label class="ml" for="showClosed">Exibir unidades fechadas.</label>
        </div>
        <span>Resultados encontrados: {{results.length}}</span>
    </div>

    <div class="btn-wrapper">
        <button class="btn btn-primary" (click)="onSubmit()">Encontrar unidade</button>
        <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
    </div>

</form>